
<nb-card>
  <nb-card-header>
    员工信息维护
  </nb-card-header>

  <nb-card-body><div class="buttons-row">
    <button nbButton status="info" shape="rectangle" size="medium" (click)="editbutton()"  hero>编辑 </button>
    <button nbButton status="info" shape="rectangle" size="medium" (click)="deletebutton()"  hero>删除 </button></div>
    <ng2-smart-table class="example-smart-table" [settings]="settings" [source]="source"
      (rowSelect)	="setSelecRow($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
    