<nb-card>
  <nb-card-header>
    Users Table
  </nb-card-header>

  <nb-card-body>
    <button nbButton status="primary" shape="semi-round" size="medium" (click)="toEdit()" default>Edit</button>
    <ng2-smart-table class="example-smart-table" [settings]="settings" [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
      (createConfirm)="onCreateConfirm($event)"
      (rowSelect)	="setSelecRow($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
